<h3>
    {% trans with {'%email%': password_reset_token.user.email} %}password_reset_token.action.request.submitted{% endtrans %}
    {% if webmail_link %}
        <a href="{{ webmail_link.url }}" target="_blank">
            {% if webmail_link.icon %}
                <img alt="{{ webmail_link.name }}" src="{{ webmail_link.icon }}" title="{{ webmail_link.name }}">
            {% else %}
                {{ webmail_link.name }}
            {% endif %}
        </a>
    {% endif %}
</h3>
